// -----------------------------------------------------------------------------
// =Demo Variables
// -----------------------------------------------------------------------------

// Colors ----------------------------------------------------------------------
$color-demo-primary: #3d87cf; // Jobvite brand
$color-demo-secondary: #14317e;
$color-demo-accent: darken($color-demo-primary,30%);
$color-demo-accent-alt: #1ECDAE;
$color-demo-gray: #ccc;
$color-demo-gray-light: lighten($color-demo-gray,15%);
$color-demo-gray-dark: darken($color-demo-gray,65%);
$color-demo-text: #777;
$color-demo-focus: #555;
$color-demo-link: $color-demo-primary;
$color-demo-link--hover: darken($color-demo-primary,15%);
$color-demo-link--active: darken($color-demo-primary,25%);
$color-demo-background: #F9F7F6;

// Section background-color
$color-demo-background-light: $color-demo-gray-light;
$color-demo-background-dark: #0087ff;

$color-demo-border: #f0eae7;
$color-demo-selection: $color-white;
$color-demo-selection-background: $color-black;
