@use "sass:math";
@use "Library/settings/variables" as *;
@use "Library/tools/mixins" as *;
@use "Library/tools/flex" as *;
$mobile: false !default;
$internal: false !default;

// --------------------------------------------------------------------------
/*! =Buttons */
// --------------------------------------------------------------------------

button:focus {
    outline: thin dotted $color-focus;
}

.jv-button {
    @include flex-inline;
    @include flex-center;
    padding: 0 20px;
    margin: 0;
    line-height: 35px;
    -webkit-appearance: none;
    font-family: $font-btn;
    font-weight: 500;
    font-size: $input-font-size;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: $border-radius;
    transition: all $transition-normal $transition-easing;
    min-width: 100px;
    @if $mobile {
        width: 100%;
    }

    &,
    &:visited {
        background: $color-gray-light;
        color: $color-gray-dark;

        &:active,
        &:hover {
            background: $color-gray;
            color: $color-gray-dark;
        }

    }

    &.jv-button-apply,
    &.jv-button-primary {
        background: $color-primary;
        color: $color-white;

        &:hover,
        &:active {
            background: darken($color-primary,15%);
            color: $color-white;
        }

    }

    &.jv-button-apply-later,
    &.jv-button-hollow {
        background-color: transparent;
        border-color: $color-text;
        color: $color-text;

        &:hover {
            background-color: $color-text;
            color: $color-white;
        }
    }

    .jv-text-icon {
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
}

.jv-additional-files,
.jv-apply-section-content {
    .jv-button {
        &,
        &:visited {
            border-width: 1px;
            background-color: transparent;
            border-color: $color-text;
            color: $color-text;

            &:hover {
                background: $color-text;
                color: $color-white;
            }
        }
    }
}

@if $area-social-buttons {
    .social {

        li {
            padding: 0;

            @if $mobile {
                margin: 0;
            } @else {
                margin: 0 2px;
            }
        }

        .social-button {
            @include square(30px);
            @include flex-col;
            @include flex-center;
            margin: 0;
            padding: 0;
            transition: all $transition-normal $transition-easing;
            font-size: (math.div(18, $font-size-body)) + em;
            color: $color-black;

            &:hover {
                color: $color-primary;
            }
        }
    }
}