@use "sass:math";
@use "Library/settings/variables"as *;
@use "Library/tools/mixins" as *;
@use "Library/tools/flex" as *;
$internal: false !default;

// -----------------------------------------------------------------------------
// =Desktop specific styles
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
/* =Header/Footer */
// -----------------------------------------------------------------------------
.jv-page-header {
    height: 100px;
    padding: 25px 0;

    .jv-wrapper {
        height: 100%;
    }

    //nav {
    //    a {
    //        padding: 0.25em 0.5em;
    //    }
    //}
}

@if $area-fixed-header {
    .fixed-header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        background-color: $color-white;
        z-index: $z-nav;
        box-shadow: $box-shadow;
    }
}

.jv-footer {
    position: relative;
    padding: 3em 0;
    background-color: $color-gray-dark;
    color: $color-text;

    a {
        color: $color-text;
        margin-left: 1em;

        &:hover {
            color: $color-gray;
            text-decoration: underline;
        }
    }

    .jv-powered-by {
        margin: 0;
        display: inline-flex;

        &,
        &:visited {
            color: $color-white;
            text-decoration: none;
        }

        &:hover {
            color: $color-primary;
        }

        .icon span {
            width: 1px;
            height: 1px;
        }
    }
}
// END footer
