@use "sass:math";
@use "Library/settings/variables"as *;
@use "Library/tools/mixins" as *;
@use "Library/tools/flex" as *;
$internal: false !default;

// -----------------------------------------------------------------------------
// =Mobile styles
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
/* =Header/Footer */
// -----------------------------------------------------------------------------
.jv-page-header {
    background: $color-white;
    padding: 0;

    .jv-wrapper {
        padding: 5px 0;
    }

    @if $area-fixed-header {
        .fixed-header {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            background-color: $color-white;
            z-index: $z-nav;
        }
    }
}

.jv-footer {
    background-color: $color-black;
    color: $color-white;
    padding: 2em 0;

    .jv-wrapper {
        padding: 0 20px;
    }

    .copyright {
        font-size: $h6;
    }

    a {
        color: $color-text;
    }

    .jv-powered-by {
        margin: 0;
        display: inline-flex;

        &,
        &:visited {
            color: $color-white;
        }

        &:hover {
            text-decoration: none;
        }

        .icon span {
            width: 1px;
            height: 1px;
        }
    }
}

// -----------------------------------------------------------------------------
// Nav Styles
// -----------------------------------------------------------------------------

.jv-nav-open-link {
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 24px;
    line-height: 1;
    margin-right: 20px;
    top: 50%;
    transform: translateY(-50%);

    &:before {
        color: $color-text;
        font-size: inherit;
    }

    @if $area-nav-left {
        left: 0;
    }
}

// Moves open link to the right in landscape
@media only screen and (min-width: 40.063em) {
    .jv-nav-open-link {
        right: 0.5em;
    }
}

.jv-nav {
    background: $color-white;
    z-index: $z-nav;

    @if $area-nav-left {
        left: -255px;
        right: auto;

        .jv-nav-visible & {
            transform: translate3d(255px, 0, 0) scale3d(1, 1, 1)!important;
        }
    }
    @if $area-nav-top {
        padding-top: 80px;
        padding-bottom: 9px;
        width: 100vw;
        height: auto;
        top: -100vh;
        right: auto;
        transform: translate3d(0, -100vh, 0) scale3d(1, 1, 1) !important;

        .jv-nav-visible & {
            transform: translate3d(0, 100vh, 0) scale3d(1, 1, 1) !important;
        }
    }

    // .jv-nav-item {
    //     margin: 0.5rem 0 0.5rem 18px;
    //     border-left: 2px solid $color-accent;
    // }

    .jv-nav-link {
        padding: 15px 15px 18px;
        line-height: 18px;
        font-size: math.div(15, $font-size-body) + em;
        font-family: $font-headings;
        font-weight: 600;
        white-space: nowrap;
        text-transform: uppercase;
        color: #7D7977;

        &:hover {
            background: transparent;
        }

        // i,
        // svg {
        //     margin-left: 6px;
        // }
    }

}

.jv-nav-visible {
    overflow: hidden
}

@if $area-animated-menu-button {
    .btn-menu-burger {
        background: transparent;
        display: flex;
    
        .btn-menu-burger-inner {
            background: $color-white;
            border: 0;
            display: flex;
            outline: none;
            cursor: pointer;
            transition: all $transition-normal $transition-easing;
    
            &,
            &:before,
            &:after {
                background: $color-white;
                content: '';
                height: 3px;
                position: absolute;
                transition: all $transition-normal $transition-easing;
                width: 100%;
                border-radius: 1px;
                //will-change: transform;
            }
    
            & {
                top: 7px;
            }
    
            &:before {
                transform: translateY(-6px);
            }
    
            &:after {
                transform: translateY(6px);
            }
    
            .jv-nav-visible & {
    
                & {
                    background: transparent;
                }
    
                &:before,
                &:after {
                    background: $color-white;
                }
    
                &:before {
                    transform: translateY(0) rotate(45deg);
                }
    
                &:after {
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
    }
}

// Hides the nav shadow
@if not $area-nav-shadow {
    .jv-nav-visible {
        .jv-nav {
            box-shadow: none;
        }

        .jv-page-content:after {
            display: none !important;
        }
    }
}

.jv-page {
    background-color: transparent;
}

// Mobile landscape
@media all and (orientation:landscape) {

    /* Style adjustments for landscape mode goes here */
    .jv-nav-open-link {
        right: 0;
    }
}
