@use "sass:math";
@use "Library/settings/variables"as *;
@use "Library/tools/mixins"as *;
@use "Library/tools/flex"as *;
// @use "Library/tools/functions"as *;

$mobile: false !default;
$internal: false !default;


// -----------------------------------------------------------------------------
/*! =Custom Sections */
// -----------------------------------------------------------------------------

// Section padding
// -----------------------------------------------------------------------------
.section {
    $section-pad:set-val(2em, 3em);
    padding: $section-pad 0;

    &:focus {
        outline: none;
    }

    // Alternating background colors
    // &:nth-of-type(1n+2) {
    //     padding: 3em 0;
    // }
    //
    // &:nth-of-type(odd) {
    //     background-color: $color-gray-light;
    // }
}

// Banners
// *Directions* @include the desired mixin to use and customize the properties.
// @include bannerFixed($w:1200px,$h:500px);
// @include bannerImage($imgH, $imgW, $h:null, $min:null, $max:null, $m-x:1.5, $imgName, $suffix:false, $count, $pos:50% 50%, $size:cover, $repeat:no-repeat, $webp:false);
// -----------------------------------------------------------------------------

@include banner() {
    // Banner image (mobile/desktop) settings
    $h:set-val(10vw, 40vw);
    $min:set-val(200px, 300px);
    $max:set-val(300px, 500px);

    // Required parameters($img, $h, $min, $max)
    // Complete parameters($img, $h, $min, $max, $m-x(mobile):1.5, $suffix(mobile):false, $count:1, $pos:50% 50%, $size:cover, $repeat:no-repeat, $webp:false)
   
    @include bannerImage('banner-home.jpg', $h, $min, $max);

    // If you have multiple overlays that are different, wrap with a unique class like '.banner-home'
    .overlay {
        @if $mobile {
            // Moves text overlay below banner image
            position: relative;
            background-color: $color-background-dark;
        } @else {
            @include absolute(0, 0, 0, 0);
            background-color: rgba($color-black, 0.3);
        } //End
    }
    .overlay-text {
        h1 {
            font-size: clamp(#{$h2}, 5vw, #{$h1});
            max-width: 17ch;
            @if $mobile {
                color: $color-white;                        
            } @else {
                text-align: right;
            } //End
        }
        p {
            color: $color-white;
            font-size: 20px;
        }
    }
}


// -----------------------------------------------------------------------------
// =Media Queries
// -----------------------------------------------------------------------------
// @if not $mobile {
//    @if $area-screen-medium {    
//        /*! min-width: #{$screen-md-px} */
//        @media all and (min-width:$screen-md-em) {
//            @include banner() {
//                 $h:50vw;
//                 $min:400px;
//                 $max:600px;
//                 @include bannerImage('banner-about.jpg', $h, $min, $max);
//            }
//        }
//    }
// } // End Desktop