
// Slideshow variables --------------------------------------------------------
$slideTotal: 5; //
$n: $slideTotal; // For "n" images
$n1: $slideTotal - 1;
$a: 5; // a = presentation time for one image
$b: 0.5; // b = duration for cross fading in seconds
$t: ($a+$b)*$n;
$delay-inc: $t/$n; // Slide delay increments

/*! Banner Cover ------------------------------------------------------------ */
#banner.cover {
    width: 100%;
    position: relative;
    min-height: 300px;
    max-height: 500px;

    &:before {
        display: block;
        content: '';
        padding-bottom: (855/2000) * 100%;
    }

    .banner_image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        padding-left: 0;

        li {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url($root-url+"demo/banners/banner-fixed@0,5x.jpg");
        }

        span {
            //color:#fff;
            //background:#000;
            //padding:2px;
            opacity: 0;
        }
    }

    // Slideshow
    $key-1: 0%;
    $key-2: ($a/$t)*100%;
    $key-3: (($a + $b)/$t) * 100%;
    $key-4: (100% - ($b/$t * 100%));
    $key-5: 100%;

    // Animated Banner
    @keyframes imageAnimation {
        #{$key-1} {
            opacity: 1;
        }

        #{$key-2} {
            opacity: 1;
        }

        #{$key-3} {
            opacity: 0;
        }

        #{$key-4} {
            opacity: 0;
        }

        #{$key-5} {
            opacity: 1;
        }
    }

    .slideshow li {
        animation: imageAnimation ($t+s) ease-in-out infinite 0s;
    }

    @for $i from 0 through ($n1) {
        .slideshow li:nth-of-type(#{$i+1}) {
            background-image: url($root-url+"demo/banners/banner-slide-#{$i+1}@0,5x.jpg");
            animation-delay: (($n1 - $i) * $delay-inc) +s;
        }
    }
}

// @media all and (min-width:$screen-md)
@media all and (min-width:$screen-md-em) {
    #banner.cover {
        .banner_image li {
            background-image: url($root-url+"demo/banners/banner-fixed.jpg");
        }

        @for $i from 0 through ($n1) {
            .slideshow li:nth-of-type(#{$i+1}) {
                background-image: url($root-url+"demo/banners/banner-slide-#{$i+1}.jpg");
                animation-delay: (($n1 - $i) * $delay-inc) +s;
            }
        }
    }
}
