/*! Banner Fixed ------------------------------------------------------------ */
#banner.fixed {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;

    img {
        max-width: 1200px;
    }
}
