// -----------------------------------------------------------------------------
// =Base Colors
// -----------------------------------------------------------------------------

$color-white: #fff;
$color-black: #000; // $color-section-gray: #f1f1f1; // Gray background

// Brand
$color-facebook: #204385;
$color-twitter: #2AA9E0;
$color-youtube: #EB2429;
$color-instagram: #44749C;
$color-linkedin: #0077b5;
$color-glassdoor: #0CAA41;
$color-outline-focus: #3b99fc;
