@use "Library/settings/variables"as *;
@use "Library/tools/mixins"as *;
$mobile: false !default;
$internal: false !default;
$lang: false !default;

$kickoff: '2.6.3';

@if $mobile {
    @if $internal {
        /*! Styles for #{$customer-name} -Mobile Internal - kickoff v#{$kickoff} */
    } @else {
        /*! Styles for #{$customer-name} -Mobile - kickoff v#{$kickoff} */
    } //End
} @else {
    @if $internal {
        /*! Styles for #{$customer-name} -Desktop Internal - kickoff v#{$kickoff} */
    } @else {
        /*! Styles for #{$customer-name} -Desktop - kickoff v#{$kickoff} */
    } //End
} //End