// -----------------------------------------------------------------------------
// =Layout
// -----------------------------------------------------------------------------
.float-left {
    float: left;
}

.float-right {
    float: right;
}

@if $mobile == false {

    /*! max-width: #{$screen-md-px} */
    @media all and (min-width:$screen-md-em) {
        .float-left-md {
            float: left;
        }

        .float-right-md {
            float: right;
        }
    }

}
// End Desktop