@use "Library/settings/variables" as *;
$mobile: false !default;

/*! =Color classes */
// -----------------------------------------------------------------------------

.color-white {
    color: $color-white;
}

.color-black {
    color: $color-black;
}

.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-text {
    color: $color-text;
}